__pycache__/
.env
*.pt
*.mp4
*.wav
*.mp3
*.pyc
venv/
venv312/
runs/
notebooks/datasets
notebooks/data
notebooks/.ipynb_checkpoints/

# Ignora tudo em data/ exceto a estrutura de pastas
data/**
!data/
!data/**/
!data/samples/.gitkeep
